.noticia {
	margin-top: 2%;
}

.noticia h2 {
	font-size: 24px;
}

.notice {
	margin-top: 5%;
}

.imagem-noticia {
	margin-top: 7%;
}

.titulo-noticia {
	font-size: 25px;
}

.section-headline h2 {
	font-size: 25px;
	margin-top: 5%;	
}