{% extends "decorator_login.html" %}
{% block body %}
<form class="form-signin" role="form" action="{% url 'login' %}" method="post">
	{% csrf_token %}
	<div class="col-md-4"></div><div class="col-md-4">
		<h2 class="form-signin-heading">Login</h2>
	</div>
	<input type="text" id="id_username" name="username" class="form-control" placeholder="Nome" required autofocus="">
	<input type="password" id="id_password" name="password" class="form-control" placeholder="Senha" required style="margin-top: 20px;">
	<div class="col-md-4"></div><div class="col-md-4">
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" style="margin-top: 20px;">Entrar</button></div>
		<input type="hidden" name="next" value="{{ next }}" >
	</form>
	{% endblock %}