{% extends 'decorator.html' %}
{% block body %}

<form accept="{% url 'cadeiras_cadastrar' %}" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<label for="id_nome">Nome</label>
		<input type="text" name="nome" class="form-control" id="id_nome" placeholder="Nome da cadeira">
	</div>
	<div class="form-group">
		<label for="id_descricao">Descrição</label>
		<input type="text" name="descricao" class="form-control" id="id_descricao" placeholder="Descrição da cadeira">
	</div>
	<button class="btn btn-primary">Salvar</button>
</form>

{% endblock %}