{% extends "decorator.html" %}
{% block body %}

<div class="panel-body">
	<a type="button" href="{% url 'diretorias_form' %}" class="btn btn-primary pull-right">Cadastrar</a>

</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Diretorias Cadastradas</h3>
	</div>
	<div class="panel-body">
		<table class="table"> <thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Editar</th>
			</tr>
		</thead>
		<tbody>
			{% for diretoria in diretorias %}
			<tr>
				<td>{{ diretoria.nome}}</td>
				<td>
					<a class="btn btn-success">
						<span class="glyphicon glyphicon-pencil"></span> Editar
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody></table>
	</div>
</div>
{% endblock %}