{% extends "decorator.html" %}
{% block body %}

<div class="panel-body">
	<a href="{% url 'estatuto_editar' %}" class="btn btn-success pull-right"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Estatuto</h3>
	</div>
	<div class="panel-body">
		<div id="id_conteudo"></div>
	</div>
</div>

<input type="hidden" id="var" name="variable" value="{{ estatuto.conteudo }}">

<script type="text/javascript"> 
	var myVar = document.getElementById("var").value;
    document.getElementById("id_conteudo").innerHTML = myVar;
</script>

{% endblock %}