{% extends "decorator.html" %}
{% block body %}

<div class="panel-body">
	<a href="{% url 'home_editar' %}" class="btn btn-success pull-right"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Informações da Página Inicial</h3>
	</div>
	<div class="panel-body">
		<b>Telefone: </b> {{home.telefone}} <br>
		<b>E-mail: </b> {{home.email}} <br>
		<b>Localização: </b> {{home.localizadao}} <br>
	</div>
</div>
{% endblock %}