{% extends "decorator.html" %}
{% block body %}

<div class="panel-body">
	<a type="button" href="{% url 'noticias_form' %}" class="btn btn-primary pull-right">Cadastrar</a>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Notícias Cadastradas</h3>
	</div>
	<div class="panel-body">
		<table class="table"> <thead>
			<tr>
				<th scope="col">Título</th>
				<th scope="col">Subtítulo</th>
				<th scope="col">Modificação</th>
				<th scope="col">Opções</th>
			</tr>
		</thead>
		<tbody>
			{% for noticia in noticias %}
			<tr>
				<td>{{ noticia.titulo}}</td>
				<td>{{ noticia.subtitulo}}</td>
				<td>{{ noticia.modificado}}</td>
				<td>
					<a class="btn btn-success">
						<span class="glyphicon glyphicon-pencil"></span> Editar
					</a>
					<a class="btn btn-danger" data-toggle="modal" data-target="#{{noticia.id}}">
						<span class="glyphicon glyphicon-pencil"></span> Excluir
					</a>

					<div class="modal fade" id="{{noticia.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" >Alerta de Confirmação</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        Tem certeza que deseja excluir essa notícia? {{noticia.id}}
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" >Sim</button>
					        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
					      </div>
					    </div>
					  </div>
					</div>

				</td>
			</tr>
			{% endfor %}
		</tbody></table>
	</div>
</div>
{% endblock %}