{% load staticfiles %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <title>Academia Piauiense de Odontologia</title>

  <link href="{% static "img/favicon.png" %}" rel="icon">
  <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
  <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/nivo-slider/css/nivo-slider.css" %}" rel="stylesheet">
  <link href="{% static "lib/owlcarousel/owl.carousel.css" %}" rel="stylesheet">
  <link href="{% static "lib/owlcarousel/owl.transitions.css" %}" rel="stylesheet">
  <link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/animate/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{% static "css/nivo-slider-theme.css" %}" rel="stylesheet">
  <link href="{% static "css/style.css" %}" rel="stylesheet">
  <link href="{% static "css/responsive.css" %}" rel="stylesheet">
  <link href="{% static "css/estatuto.css" %}" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-example">
  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="{% url 'index' %}">
                  <h1><span>Academia</span> Piauiense de Odontologia</h1>
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="{% url 'index' %}">Home</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="{% url 'index' %}#sobre">Sobre</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="{% url 'index' %}#cursos">Cursos</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="{% url 'index' %}#noticias">Notícias</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="{% url 'index' %}#contatos">Contatos</a>
                  </li>
                  <li>
                    <a href="{% url 'front_diretoria' %}">Diretoria</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#cadeiras">Cadeiras</a>
                  </li>
                  <li>
                    <a href="#estatuto">Regimento</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->

  <!-- Start About area -->
  <div id="estatuto" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <div class="estatuto">
              <!--<h1 style="text-align:center"><strong>REGIMENTO</strong></h1>

              <p style="text-align:center">&nbsp;</p>

              <h1 style="text-align:center"><strong>T&Iacute;TULO I</strong></h1>

              <h1 style="text-align:center"><strong>DA SOCIEDADE</strong></h1>

              <p>&nbsp;</p>

              <p style="text-align:justify">Art. 1 - A Academia Piauiense de Odontologia - A P O, sociedade civil fundada em 06 de abril de 2000, reger-se-&aacute; pelas normas de seu Estatuto Social e a este regimento.</p>

              <p style="text-align:justify">Par&aacute;grafo &Uacute;nico - &Eacute; vedado seu envolvimento oficial em quest&otilde;es religiosas ou pol&iacute;tico-partid&aacute;rias, n&atilde;o sendo permitido o pronunciamento ou abordagem das mesmas em suas assembleias, reuni&otilde;es ordin&aacute;rias ou sess&otilde;es da Diretoria.</p>

              <h1 style="text-align:center">&nbsp;</h1>

              <h1 style="text-align:center"><strong>T&Iacute;TULO II</strong></h1>

              <h1 style="text-align:center"><strong>DA ORGANIZA&Ccedil;&Atilde;O SOCIAL</strong></h1>

              <h2 style="text-align:center"><strong>Cap&iacute;tulo I - Da Vac&acirc;ncia de Cadeiras</strong></h2>

              <p style="text-align:justify">Art. 2 - Na ocorr&ecirc;ncia de alguns casos previstos no Art. 8 do Estatuto, o Presidente o comunicar&aacute; &agrave; Diretoria por ocasi&atilde;o da primeira sess&atilde;o a ser realizada ap&oacute;s o sucedido, a ela competindo a declara&ccedil;&atilde;o de vac&acirc;ncia.</p>

              <p style="text-align:justify">Par&aacute;grafo &Uacute;nico - Ser&aacute; da al&ccedil;ada da Diretoria a fixa&ccedil;&atilde;o da data para a inscri&ccedil;&atilde;o de candidatos ao preenchimento de vaga(s) e para realiza&ccedil;&atilde;o da competente assembleia.</p>

              <p style="text-align:justify">Art. 3 - Competir&aacute; ao 1&ordm; Secret&aacute;rio a comunica&ccedil;&atilde;o da exist&ecirc;ncia da vaga aos demais Acad&ecirc;micos Titulares e Em&eacute;ritos, fazendo-a por meio de circular em que sejam explicitadas as exig&ecirc;ncias estatut&aacute;rias para a proposi&ccedil;&atilde;o de candidato.</p>

              <p style="text-align:justify">&nbsp;</p>

              <h2 style="text-align:center"><strong>Cap&iacute;tulo II - Da Admiss&atilde;o de Acad&ecirc;micos</strong></h2>

              <p style="text-align:justify">Art. 4 - A admiss&atilde;o de Acad&ecirc;mico Titular dar-se-&aacute; obedecendo &agrave; seguinte sistem&aacute;tica:</p>

              <ol>
                <li style="text-align:justify">Encaminhamento de proposta dirigida ao Presidente por, no m&iacute;nimo 03 (tr&ecirc;s) Acad&ecirc;micos Titulares e/ou Em&eacute;ritos, fazendo-a por meio de circular em que sejam explicitadas as exig&ecirc;ncias estatut&aacute;rias para a proposi&ccedil;&atilde;o de candidato;</li>
                <li style="text-align:justify">Envio, pelo Presidente, da documenta&ccedil;&atilde;o ao 1&ordm; Secret&aacute;rio;</li>
                <li style="text-align:justify">O 1&ordm; Secret&aacute;rio analisar&aacute; se os documentos apresentados est&atilde;o de acordo com as exig&ecirc;ncias estatut&aacute;rias vigentes, formando em seguida o respectivo processo;</li>
                <li style="text-align:justify">Verificada a exist&ecirc;ncia de falhas ou imprecis&otilde;es na documenta&ccedil;&atilde;o, o 1&ordm; Secret&aacute;rio a devolvera a um dos proponentes, solicitando a feitura das corre&ccedil;&otilde;es devidas, no prazo m&aacute;ximo de 10 (dez) dias;</li>
                <li style="text-align:justify">Saneado, o processo ser&aacute; enviado ao 1&ordm; Secret&aacute;rio, que proceder&aacute; a rigorosa an&aacute;lise do curr&iacute;culo e memorial apresentados dentro de 05 (cinco) dias, feito o que, elaborar&aacute; sucinto parecer sobre a avalia&ccedil;&atilde;o procedida, a ela acrescentando o levantamento da pontua&ccedil;&atilde;o estabelecida no art. 10 do Estatuto, remetendo-o ao Presidente.</li>
                <li style="text-align:justify">Este convocar&aacute; a Assembleia extraordin&aacute;ria para os pr&oacute;ximos trinta dias, para aprecia&ccedil;&atilde;o do parecer e decidir, por vota&ccedil;&atilde;o, o ingresso do aspirante.</li>
              </ol>

              <p style="text-align:justify">Par&aacute;grafo &Uacute;nico - O curr&iacute;culo e memorial citados dever&atilde;o ser preenchidos de acordo com o modelo institu&iacute;do pela Diretoria.</p>

              <p style="text-align:justify">Art. 5&ordm; - Fica institu&iacute;do um documento que servir&aacute; de orienta&ccedil;&atilde;o &agrave; an&aacute;lise de conte&uacute;do do curr&iacute;culo apresentado pelo candidato &agrave; admiss&atilde;o, obtida pela atribui&ccedil;&atilde;o de pontos, aos diversos itens dele constante com valores previamente fixados compat&iacute;veis com a import&acirc;ncia de cada um, e que gerar&atilde;o uma pontua&ccedil;&atilde;o global.</p>

              <p style="text-align:justify">Par&aacute;grafo 1&ordm; - Este levantamento servir&aacute; para definir se o pleitante alcan&ccedil;ou as condi&ccedil;&otilde;es para intentar seu ingresso traduzida pela obten&ccedil;&atilde;o de um n&uacute;mero m&iacute;nimo, indispens&aacute;vel &agrave; aprecia&ccedil;&atilde;o de sua candidatura.</p>

              <p style="text-align:justify">Par&aacute;grafo 2&ordm; - Competir&aacute; ao 1&ordm; Secret&aacute;rio informar, t&atilde;o somente, ao plen&aacute;rio por ocasi&atilde;o da competente assembleia extraordin&aacute;ria, se o candidato est&aacute; habilitado ou n&atilde;o a ser votado.</p>

              <p style="text-align:justify">Art. 6&ordm; - A admiss&atilde;o de Acad&ecirc;mico Honor&aacute;rio dar-se-&aacute; por meio de proposta endere&ccedil;ada ao Presidente, subscrita por 03 (tr&ecirc;s) ou mais Acad&ecirc;micos Titulares e/ou Em&eacute;ritos, acompanhada de curr&iacute;culo do mesmo e em que se comprove a especializa&ccedil;&atilde;o em Odontologia.</p>

              <p style="text-align:justify">Par&aacute;grafo &Uacute;nico - A proposta ser&aacute; analisada pela Diretoria, que emitir&aacute; parecer a ser apreciado e votado em assembleia extraordin&aacute;ria.</p>

              <p style="text-align:justify">Art. 7&ordm; - A proposi&ccedil;&atilde;o para admiss&atilde;o de Acad&ecirc;mico Benem&eacute;rito originar-se-&aacute; na Diretoria, que ajuizar&aacute; as raz&otilde;es de proposi&ccedil;&atilde;o e, devidamente justificada, ser&aacute; submetida &agrave; aprecia&ccedil;&atilde;o e decis&atilde;o da assembleia extraordin&aacute;ria.</p>

              <p style="text-align:justify">Art. 8&ordm; - A admiss&atilde;o de Acad&ecirc;mico Correspondente verificar-se-&aacute; por iniciativa da Diretoria, proposta pot um de seus membros, ap&oacute;s a an&aacute;lise do nome do Cirurgi&atilde;o-Dentista, e com a sua concord&acirc;ncia. Em seguida ser-lhe-&aacute; comunicado oficialmente.</p>

              <p style="text-align:justify">Par&aacute;grafo 1&ordm; - A sugest&atilde;o deve envolver o nome da cidade em que residir o Cirurgi&atilde;o-Dentista e receber uma avalia&ccedil;&atilde;o de sua import&acirc;ncia para os objetivos da Academia.</p>

              <p style="text-align:justify">Par&aacute;grafo 2&ordm; - Competir&aacute; &agrave; Diretoria ajuizar o seu desempenho e se este n&atilde;o for satisfat&oacute;rio, promover o seu afastamento.</p>

              <p style="text-align:justify">Par&aacute;grafo 3&ordm; - Ocorrendo mudan&ccedil;a de domic&iacute;lio do Correspondente, automaticamente cessar&aacute; a titula&ccedil;&atilde;o.</p>

              <p style="text-align:justify">&nbsp;</p>

              <h1 style="text-align:center"><strong>T&Iacute;TULO III</strong></h1>

              <h1 style="text-align:center"><strong>DO FUNCIONAMENTO DOS &Oacute;RG&Atilde;OS DE DIRE&Ccedil;&Atilde;O</strong></h1>

              <h2 style="text-align:center"><strong>Cap&iacute;tulo I - Das Assembleias</strong></h2>

              <p>&nbsp;</p>

              <p style="text-align:justify">Art 9&ordm; - As Assembleias, poder supremo e deliberativo, poder&atilde;o ser: Ordin&aacute;rias e Extraordin&aacute;rias.</p>

              <p style="text-align:justify">Par&aacute;grafo 1&ordm; - Em car&aacute;ter ordin&aacute;rio, reunir-se-&aacute;:</p>

              <ol>
                <li style="text-align:justify">Em novembro, na &uacute;ltima semana dos anos &iacute;mpares, para proceder &agrave; elei&ccedil;&atilde;o da Diretoria e do Conselho Fiscal.</li>
                <li style="text-align:justify">Em novembro, por ocasi&atilde;o da solenidade comemorativa &agrave; funda&ccedil;&atilde;o do sodal&iacute;cio, para apreciar e deliberar sobre o relat&oacute;rio elaborado pelo 1&ordm; Secret&aacute;rio, das atividades promovidas durante o ano social; balan&ccedil;o financeiro, ordenado pelo 1&ordm; Teroureiro; e o Parecer do Conselho Fiscal sobre a documenta&ccedil;&atilde;o apresentada.</li>
                <li style="text-align:justify">Em novembro, preferencialmente no dia 15, para comemorar a data da funda&ccedil;&atilde;o da Academia e, nos anos &iacute;mpares para a posse da Diretoria e do Conselho Fiscal eleitos.</li>
              </ol>

              <p style="text-align:justify">Par&aacute;grafo 2&ordm; - Extraordinariamente para:</p>

              <ol>
                <li style="text-align:justify">Dar cumprimento &agrave;s determina&ccedil;&otilde;es do estatuto (artigos 2&ordm;, 11, 16 e 28 - letras&nbsp;<strong>a</strong>&nbsp;e&nbsp;<strong>e</strong>);</li>
                <li style="text-align:justify">Decidir pend&ecirc;ncias em grau de recurso;</li>
                <li style="text-align:justify">Emendar ou reformar o Estatuto e/ou Regimento;</li>
                <li style="text-align:justify">Deliberar, quando convocada pela Diretoria, sobre assunto de extrema relev&acirc;ncia e urg&ecirc;ncia;</li>
              </ol>

              <p style="text-align:justify">Art. 10 - A convoca&ccedil;&atilde;o da Assembleia ser&aacute; feita por edital, assinada pelo Presidente e o 1&ordm; Secret&aacute;rio, ou por, no m&iacute;nimo 1/3 (um ter&ccedil;o) de Acad&ecirc;micos Titulares e/ou Em&eacute;ritos, com pelo menos 03 (tr&ecirc;s) dias de anteced&ecirc;ncia, e nele constando os assuntos de sua pauta, dia, hora e local de sua efetiva&ccedil;&atilde;o.</p>

              <p style="text-align:justify">Par&aacute;grafo &Uacute;nico - No edital convocando assembleia para decidir sobre ingresso de acad&ecirc;mico ser&aacute;(&atilde;o) mencionado(s) o(s) nome(s) do(s) candidato(a), o(s), a(s) proposto(s).</p>

              <p style="text-align:justify">Art. 11 - O qu&oacute;rum exigido para a instala&ccedil;&atilde;o ser&aacute; de: em primeira convoca&ccedil;&atilde;o, com 2/3 (dois ter&ccedil;os) de Acad&ecirc;micos Titulares e Em&eacute;ritos; em segunda, a ser realizada meia hora ap&oacute;s a estabelecida para a primeira, com qualquer n&uacute;mero que n&atilde;o seja inferior a tr&ecirc;s.</p>

              <p style="text-align:justify">Par&aacute;grafo &Uacute;nico - Tratando-se de assembleia com finalidade de admitir Acad&ecirc;mico Titular e n&atilde;o sendo alcan&ccedil;ado o qu&oacute;rum m&iacute;nimo exigido pelo art. 11 do Estatuto, o Presidente far&aacute; uma segunda convoca&ccedil;&atilde;o no prazo de 05 (cinco) dias &uacute;teis da anterior, persistindo o impasse haver&aacute;, nos moldes da precedente, uma terceira convoca&ccedil;&atilde;o, e se ainda assim o qu&oacute;rum n&atilde;o for obtido o processo sofrer&aacute; um intervalo de 90 (noventa) dias.</p>

              <p style="text-align:justify">Art. 12 - As assembleias ser&atilde;o dirigidas por uma Mesa, composta pelo Presidente, 1&ordm; Secret&aacute;rio, 2&ordm; Secret&aacute;rio e eventualmente, por 2 (dois) escrutinadores, e outros membros, a crit&eacute;rio do Presidente.</p>

              <p style="text-align:justify">Art. 13 - Para elei&ccedil;&atilde;o da Diretoria, se o presidente for candidato, a assembleia ser&aacute; presididad por um dos participantes, desde que n&atilde;o seja candidato, observando-se o institu&iacute;do no item 2 do art. 19 do Regimento.</p>

              <p style="text-align:justify">Art. 14 - As delibera&ccedil;&otilde;es das assembleias ser&atilde;o tomadas pela vota&ccedil;&atilde;o favor&aacute;vel da maioria simples e seus participantes, excetuando-se os casos previstos nos artigos 2&ordm;, 11 e 28 (letra d) do Estatuto.</p>

              <p style="text-align:justify">Art. 15 - O per&iacute;odo do mandato ser&aacute; de 02 (dois) anos com direito a reelei&ccedil;&atilde;o por mais 02 (dois) anos.</p>

              <p style="text-align:justify">Art. 16 - Somentes os Acad&ecirc;micos Fundadores e Titulares poder&atilde;o presidir a Academia.</p>

              <p style="text-align:justify">Art. 17 - As elei&ccedil;&otilde;es para renova&ccedil;&atilde;o da Diretoria ser&atilde;o processadas mediante a apresenta&ccedil;&atilde;o de chapas elaboradas por qualquer Acad&ecirc;mico Titular ou Em&eacute;rito e necessariamente inscritas na secretaria at&eacute; 48 (quarenta e oito) horas antes da realiza&ccedil;&atilde;o da assembleia, nelas figurando os nomes dos candidatos a ocuparem os respectivos cargos.</p>

              <p style="text-align:justify">Par&aacute;grafo 1&ordm; - Os figurantes da chapa dever&atilde;o estar na plenitude de suas obriga&ccedil;&otilde;es sociais.</p>

              <p style="text-align:justify">Par&aacute;grafo 2&ordm; - No decorrer da assembleia ser&aacute; permitida&nbsp;a substitui&ccedil;&atilde;o de qualquer um dos nomes apresentados, por outros, desde que integrantes de outras chapas, igualmente inscritas.</p>

              <p style="text-align:justify">Par&aacute;grafo 3&ordm; - A inclus&atilde;o de nomes que n&atilde;o estejam numa chapa inscrita, ou qualquer rabisco, anular&aacute; o voto.</p>

              <p style="text-align:justify">Art. 18 - Para as assembleias destinadas a admiss&atilde;o de Acad&ecirc;micos, o 1&ordm; Secret&aacute;rio elaborar&aacute; c&eacute;dula, a ser aprovada pela Diretoria, na qual contar&aacute; o nome ou nomes dos candidatos (as) propostos (as).</p>

              <p style="text-align:justify">Par&aacute;grafo &Uacute;nico - As c&eacute;dulas ser&atilde;o confeccionadas obedecendo a ordem de inscri&ccedil;&atilde;o na secretaria.</p>

              <p style="text-align:justify">Art. 19 - Tanto as chapas quanto as c&eacute;dulas, dever&atilde;o ser obrigatoriamente rubricadas pelo Presidente e Secret&aacute;rio Geral.</p>

              <p style="text-align:justify">Art. 20 - Os trabalhos das assembleias ter&atilde;o a seguinte sequencia:</p>

              <ol>
                <li style="text-align:justify">Abertura, pelo Presidente da Diretoria, que convocar&aacute; o 2&ordm; Secret&aacute;rio para secretariar os trabalhos e redigir a competente Ata;</li>
                <li style="text-align:justify">Escolha do Presidente da Mesa pelo plen&aacute;rio, no caso especificado no art. 13 do regimento, incumbindo ao escolhido a designa&ccedil;&atilde;o dos demais de seus componentes;</li>
                <li style="text-align:justify">Leitura, pelo 1&ordm; Secret&aacute;rio, do edital de Convoca&ccedil;&atilde;o, e tamb&eacute;m a verifica&ccedil;&atilde;o do qu&oacute;rum regimental, a apresenta&ccedil;&atilde;o de esclarecimentos, se necess&aacute;rio, sobre os assuntos a serem abordados e os procedimentos a serem observados no decorrer dos trabalhos;</li>
                <li style="text-align:justify">In&iacute;cio e desdobramentos dos trabalhos;</li>
                <li style="text-align:justify">Vota&ccedil;&atilde;o da mat&eacute;ria discutida, que poder&aacute; ser por aclama&ccedil;&atilde;o ou aberta, conforme decis&atilde;o do plen&aacute;rio, ou secreta, em obedi&ecirc;ncia ao art. 11 do estatuto.</li>
                <li style="text-align:justify">Apura&ccedil;&atilde;o dos votos e proclama&ccedil;&atilde;o do resultado pelo Presidente da Mesa.</li>
                <li style="text-align:justify">Elabora&ccedil;&atilde;o e leitura da Ata redigida contendo as ocorr&ecirc;ncias verificadas, sua discuss&atilde;o e aprova&ccedil;&atilde;o pelo plen&aacute;rio.</li>
                <li style="text-align:justify">Encerramento da assembleia pelo Presidente.</li>
              </ol>

              <p style="text-align:justify">Par&aacute;grafo 1&ordm; - Para a elabora&ccedil;&atilde;o da Ata, os trabalhos ser&atilde;o suspensos pelo tempo requerido para a sua leitura.</p>

              <p style="text-align:justify">Par&aacute;grafo 2&ordm; - Fica inclu&iacute;do no item 3, se a finalidade da assembleia for eleitoral, a leitura das chapas apresentadas.</p>

              <p style="text-align:justify">Par&aacute;grafo 3&ordm; - Nas assembleias para ingresso de acad&ecirc;micos &agrave; Institui&ccedil;&atilde;o ap&oacute;s o item 3, o 1&ordm; Secret&aacute;rio, ou um seu eventual substituto, far&aacute; a leitura do(s) Parecer(es) transcrito(s) no(s) processo(s) analisado(s).</p>

              <p style="text-align:justify">Par&aacute;grafo 4&ordm; - Ao ensejo de elei&ccedil;&otilde;es, as chapas ou c&eacute;dulas ser&atilde;o distribu&iacute;das pelos escrutinadores.</p>

              <p style="text-align:justify">Par&aacute;grafo 5&ordm; - A chapa ou c&eacute;dula, ap&oacute;s preenchida pelo participante da assembleia ser&aacute; depositada em urna apropriada, que permanecer&aacute; na mesa receptora e &agrave; vista de todos enquanto perdurar a vota&ccedil;&atilde;o, ocasi&atilde;o em que o votante assinar&aacute; a lista de vota&ccedil;&atilde;o, contendo os nomes dos Acad&ecirc;micos aptos a votar.</p>

              <p style="text-align:justify">Par&aacute;grafo 6&ordm; - A c&eacute;dula ser&aacute; &uacute;nica contendo o(s) nome(s) do(s) candidato(s).</p>

              <p style="text-align:justify">Par&aacute;grafo 7&ordm; - O votante assinar&aacute; com um X ou uma cruz o quadrado correspondente ao nome do(s) candidato(s) de sua prefer&ecirc;ncia.</p>

              <p style="text-align:justify">Par&aacute;grafo 8&ordm; - Ser&aacute; nulo o voto quando a c&eacute;dula contiver as seguinte irregularidades:</p>

              <p style="text-align:justify">&nbsp; &nbsp; &nbsp;a. Nomes assinalados superarem o n&uacute;mero de vagas a preencher;</p>

              <p style="text-align:justify">&nbsp; &nbsp; &nbsp;b. A c&eacute;dula apresentar riscos: nomes estranhos ou s&iacute;mbolos que identifiquam o voto;</p>

              <p style="text-align:justify">&nbsp; &nbsp; &nbsp;c. Nome n&atilde;o inserido na c&eacute;dula oficial.</p>

              <p style="text-align:justify">Art. 21 - A apura&ccedil;&atilde;o dos sufr&aacute;gios poder&aacute; determinar as seguintes consequ&ecirc;ncias:</p>

              <ol>
                <li style="text-align:justify">Quando a exist&ecirc;ncia de 02 (dois) candidatos a uma s&oacute; vaga, e no caso de nenhum atingir o qu&oacute;rum estipulado, proceder-se-&aacute; a um novo escrutino, abrangendo o nome do mais votado;</li>
                <li style="text-align:justify">Apresentados 03 (tr&ecirc;s) ou mais candidatos e se nenhum atingir o qu&oacute;rum estipulado ser&aacute; realizada nova vota&ccedil;&atilde;o abrangendo os 02 (dois) mais votados;</li>
                <li style="text-align:justify">Se verificado insucesso nas tentativas previstas nos itens anteriores persistir&aacute; a vaga e uma assembleia ser&aacute; convocada pelo Presidente, respeitando o intervalo de 90 (noventa) dias.</li>
              </ol>

              <p style="text-align:justify">Art. 22 - Em caso de empate entre os admitendos, ocupar&aacute;(&atilde;o) a(s) vaga(s) o(s) mais antigo(s) na profiss&atilde;o, e persistindo empate, o(s) mais idoso(s).</p>

              <p style="text-align:justify">Art. 23 - Proclamado o resultado, se houver eleito(s) o 1&ordm; Secret&aacute;rio oficiar&aacute; ao(s) admitido(s) comunicando a decis&atilde;o, indagando de sua(s) anu&ecirc;ncia(s) ao cogitado ingresso e solicitando seu(s) pronunciamento(s) por escrito, no prazo de 10 (dez) dias, a contar da data do recebimento da comunica&ccedil;&atilde;o.&nbsp;&nbsp;</p>

              <p style="text-align:justify">&nbsp;</p>

              <p style="text-align:justify">&nbsp;</p>

              <h1 style="text-align:justify">&nbsp;</h1>-->

              <div id="div_conteudo_estatuto"></div>
              <input type="hidden" id="conteudo_estatuto" name="variable" value="{{ estatuto.conteudo }}">
              <script type="text/javascript"> 
                var conteudoEstatuto = document.getElementById("conteudo_estatuto").value;
                document.getElementById("div_conteudo_estatuto").innerHTML = conteudoEstatuto;
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End About area -->

  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
              </p>
            </div>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static "lib/jquery/jquery.min.js" %}"></script>
  <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "lib/venobox/venobox.min.js" %}"></script>
  <script src="{% static "lib/knob/jquery.knob.js" %}"></script>
  <script src="{% static "lib/wow/wow.min.js" %}"></script>
  <script src="{% static "lib/parallax/parallax.js" %}"></script>
  <script src="{% static "lib/easing/easing.min.js" %}"></script>
  <script src="{% static "lib/nivo-slider/js/jquery.nivo.slider.js" %}" type="text/javascript"></script>
  <script src="{% static "lib/appear/jquery.appear.js" %}"></script>
  <script src="{% static "lib/isotope/isotope.pkgd.min.js" %}"></script>
  <!-- Uncomment below if you want to use dynamic Google Maps -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script> -->

  <!-- Contact Form JavaScript File -->
  <script src="{% static "contactform/contactform.js" %}"></script>

  <script src="{% static "js/main.js" %}"></script>
</body>

</html>